body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFCC;
  color: #000000;
}

.navbar-laravel {
  background-color: #FFCC99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000000 !important;
}

.nav-link {
  color: #000000 !important;
}

.table-dark {
  color: #000;
  background-color: #FFCC99;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: #FFCC99;
}

.login-header {
  background-color: #FFCC99;
  border-bottom: #FFCC99;
}

.login-body {
  background-color: #FFCC99;
}

.red {
  background-color: red;
  color: #fff;
}

.table-dark td {
  border-color: #FFCC99;
}

.table-dark thead th {
  border-color: #FFCC99;
}

